<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Azuletta</title>
</head>
<body>
    <header>
        <section class="header-bar">
            <div class="logo-name">
                <img src="/images/azuletta_logo_header.png" alt="logo">
                <h3>AZULETTA</h3>
            </div>
            <nav>
                <ul>
                    <li><a href = "/" >Home</a></li>
                    <li><a href = "/creatucv" >Crea tu CV</a></li>
                    <li><a href = "" >Sobre Nosotros</a></li>
                    <li><a href = "" >Contacto</a></li>
                    <br>
                    <li class="ingresar"><a href = "/login" >Ingresar</a></li>
                    <li class="registrarse"><a href = "/registrarse" >Registrarse</a></li>
                </ul>  
            </nav>
            <div class="burger">
                <i class="fas fa-bars burger-bars"></i>
            </div>
        </section>

    </header>
    <main>
        <div class="box-padre">
         <section class="silver">

            <article>
                <img src ="/images/CVSilver.png" alt="CV Silver">

                <div class="titulo-silver">
                    <h2>CV Silver</h2>
                </div>

                <div class="description-silver">
                    <h4>Diseño clásico</h4>
                </div>

                <div class="price-silver">
                    <h5>$500</h5>
                </div>

                    <div class="bottom-silver">
                
                        <input type="submit" name="add-to-cart" value="Agregar al carrito" title="Estas a un solo click de potenciar tu CV!">
                 
                </div>   
            </article>

        </section>

        <section class="gold">

            <article>

            <img src ="/images/CVGold.png" alt="CV Gold">

        
            <div class="titulo-gold">
                <h1>CV Gold</h1>
            </div>

            <div class="description-gold">
                <h4>Diseño innovador</h4>
            </div>

            <div class="price-gold">
                <h5>$1000</h5>
            </div>
            <div class="bottom-gold">
    
                <input type="submit" name="add-to-cart" value="Agregar al carrito" title="Estas a un solo click de potenciar tu CV!">
            
            </div> 

            </article>

        </section>


        <section class="black">

            <article>
                <img src ="/images/CVBlack.png" alt="CV Black">

                <div class="titulo-black">
                    <h2>CV Black</h2>
                </div>
                    <div class="description-black">
                    <h4>Diseño de alto impacto</h4>
                    </div>
                    <div class="price-black">
                    <h5>$1500</h5>
                    </div>
                    <div class="bottom-black">
                    
                        <input type="submit" name="add-to-cart" value="Agregar al carrito" title="Estas a un solo click de potenciar tu CV!">
                    
                </div> 

            </article>

        </section>
        </div>

    </main>

    <footer>
        <div>
            <p>REDES</p>
        </div>
    </footer>

</body>
</html>
