<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Azuletta</title>
    </head>
<body>
    <header>

        <section class="header-bar">
            <div class="logo-name">
                <img src="/images/azuletta_logo_header.png" alt="logo">
                <h3>AZULETTA</h3>
            </div>
            <nav>
                <ul>
                    <li><a href = "/" >Home</a></li>
                    <li><a href = "/creatucv" >Crea tu CV</a></li>
                    <li><a href = "/sobrenosotros" >Sobre Nosotros</a></li>
                    <li><a href = "/contacto" >Contacto</a></li>
                    <br>
                    <li class="ingresar"><a href = "/login" >Ingresar</a></li>
                    <li class="registrarse"><a href = "/registrarse" >Registarse</a></li>
                </ul>   
            </nav>
            <div class="burger">
                <i class="fas fa-bars burger-bars"></i>
            </div>
        </section>

    </header>
    <main>
        <section class="sobre-nosotros">
            <h2>Sobre Nosotros</h2>
            <div class="nosotros-description">
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                <img src="/images/sobrenosotros.png" alt="">
            </div>
            <div class="nuestra-mision">
                <img src="/images/mision.png" alt="" class="mision-foto">
                <div class="mision-description">
                    <h3>Nuestra Mision</h4>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                </div>
            </div>
            <div class="equipos">
                <p>20 EQUIPOS</p>
                <p>10 PAISES</p>
                <p>+100,000 USARIOS</p>
            </div>
            <div>
                <h2>SPONSORS</h2>
                <div class="img-sponsors">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                    <img src="/images/rect.png" alt="">
                </div>
            </div>
        </section>
    </main>
    <footer>
        
        <div>
            <p>REDES</p>
        </div>

    </footer>
</body>
</html>