* {
    margin: 0px;
    box-sizing: border-box;

}

body{

    background: #FFFFFF;
    background: -webkit-radial-gradient(top left, #FFFFFF, #D5D0E3);
    background: -moz-radial-gradient(top left, #FFFFFF, #D5D0E3);
    background: radial-gradient(to bottom right, #FFFFFF, #D5D0E3);
    font-family:'Trebuchet MS';
}


body header section img{
    margin: 0px 10px;
    width: 80px;
    height: 60px;
}


header section div.logo-name{
    display: block;
    text-align: center;

}

header div.logo-name h3{
    color: #490b88;
    display: block;
    margin: 0px 5px;
}

header section nav {
    margin: 20px 0px;
}

header section nav ul{
    list-style-type: none;
    padding: 0%;
    width: 100%;
}

header section nav ul li{
    color: #0a2342;
    font-weight: bold;
    padding: 0px 10px;
}

header section nav ul li a{
    text-decoration: none;
}

/* HOME */

/* SECTION 1 */

main section.section-1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

main section.section-1 img{
    display: block;
    margin: 5% auto;
    width: 250px;
    height: 250px;

}

main section.section-1 h3{
    text-align: center;
    color: #0a2342 ;
}

main section.section-1 p{
    padding: 5% 10%;
    text-align: center;
    color: #0a2342 ;
}

main section.section-1 div.boton button{
    color: white;
    background-color: #0a2342;
    border: #0a2342 2px solid;
    border-radius: 5px;
    padding: 1%;
    margin: 5px 0px;
}

/* SECTION 2 */

main section.section-2{
    margin-top: 10%;
    margin-bottom: 10%;
}

main section.section-2 img{
    display: block;
    margin: 5px auto;
    width: 330px;
    height: 215px;
}

main section.section-2 h3{
    text-align: center;
    color: #0a2342 ;
}

main section.section-2 p{
    padding: 3% 10%;
    text-align: center;
    color: #0a2342 ;
}

/* SECTION 3 */

main section.section-3{
    margin: 10% auto;
}

main section.section-3 h3{
    margin: 15px 0px 40px;
    text-align: center;
    color: #0a2342 ;
}

main section.section-3 p{
    padding: 3%;
    text-align: center;
    color: #0a2342 ;
}

main section.section-3 div.paso-1{
    background-color: rgb(246, 246, 246);
    border: 2px solid #e3dafa;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #a798ce;
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

main section.section-3 div.paso-1 p.numero-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a2342;
    background-color: #fbfbfb;
    border: 2px solid #e3dafa;
    box-shadow: 0px 0px 5px #a798ce;
    border-radius: 50%;
    margin: 0px auto;
    font-weight: bold;
}

main section.section-3 div.paso-2{
    background-color: rgb(246, 246, 246);
    border: 2px solid #e3dafa;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #a798ce;
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

main section.section-3 div.paso-2 p.numero-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a2342;
    background-color: #fbfbfb;
    border: 2px solid #e3dafa;
    box-shadow: 0px 0px 5px #a798ce;
    border-radius: 50%;
    margin: 0px auto;
    font-weight: bold;
}

main section.section-3 div.paso-3{
    background-color: rgb(246, 246, 246);
    border: 2px solid #e3dafa;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #a798ce;
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

main section.section-3 div.paso-3 p.numero-3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a2342;
    background-color: #fbfbfb;
    border: 2px solid #e3dafa;
    box-shadow: 0px 0px 5px #a798ce;
    border-radius: 50%;
    margin: 0px auto;
    font-weight: bold;
    text-align: center;
}

/* SECTION 4 */

main section.section-4{
    background-color: #dfdee1;
    padding: 4% 0% 2%;
    margin-top: 10%;
    margin-bottom: 10%;
}

main section.section-4 h3{
    text-align: center;
    color: #0a2342 ;
}

main section.section-4 h4{
    margin: 10px 0px;
    text-align: center;
    color: #0a2342 ;
}

main section.section-4 p{
    padding: 3%;
    text-align: center;
    color: #0a2342 ;
}

/* valoracion 1 */

section.section-4 div.valoracion-1{
    background-color: rgb(246, 246, 246);
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

section.section-4 .valoracion-1 .stars{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 3px auto;

}

section.section-4 .valoracion-1 p.foto-valoracion{
    color: white;
    font-size: 25px;
    background-color: #755497;
    border: #755497 1px solid;
    border-radius: 50%;
    width: 45px;
    margin: 0px auto;
}

/* valoracion 2 */

section.section-4 div.valoracion-2{
    background-color: rgb(246, 246, 246);
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}   

section.section-4 .valoracion-2 .stars{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 3px auto;

}

section.section-4 .valoracion-2 p.foto-valoracion{
    color: white;
    font-size: 25px;
    background-color: #755497;
    border: #755497 1px solid;
    border-radius: 50%;
    width: 45px;
    margin: 0px auto;
}

/* valoracion 3 */

section.section-4 div.valoracion-3{
    background-color: rgb(246, 246, 246);
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}   

section.section-4 .valoracion-3 .stars{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 3px auto;

}

section.section-4 .valoracion-3 p.foto-valoracion{
    color: white;
    font-size: 25px;
    background-color: #755497;
    border: #755497 1px solid;
    border-radius: 50%;
    width: 45px;
    margin: 0px auto;
}


/* CREA TU CV */

/* CV SILVER*/

main .titulo-packfav h2{
    color: #0a2342;
    text-align: center;
    font-size: 25px;
    margin: 50px 0px;
}

body main section.silver {
    margin: 10px 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aa95bf;
}

body main section.silver:hover{
    border:3px solid #490b88;
}

body main section.silver div.titulo-silver
    {

    font-size:15px ;
    text-align: center;
    font-style: bold;
    color:#490b88;
    margin: 0px auto;
    
}

body main section.silver div.description-silver
    {

    color:#755497;
    margin: auto;
        width: 80%;
    


}

body main section.silver div.price-silver
    {

    font-size: 25px;
    color:#0a2342;
    margin: 5px auto;
    margin-top: 10px;

}

body main section.silver div.bottom-silver input
    {
    background-color: #490b88;
    color: white;
    border:#490b88;
    border-radius: 15px;
    margin-top: 10px;
    width: 45%;
    margin: 10px auto;
    padding: 10px;

}

main section.silver img{
    width: 50%;
    margin: 0px auto;
}

section.silver div ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0%;
    margin: 20px 0px;
}

section.silver div ul li{
    margin: 0px auto;
    padding: 10px;
}

section.silver div ul li.back-funcion{
    width: 80%;
    background-color: #d3d1d8;
    border: 1px solid #d3d1d8;
    border-radius: 2px;

}

/* CV GOLD */

body main section.gold {
    margin: 50px 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aa95bf;
}

body main section.gold:hover{
    border:3px solid #490b88;
}

body main section.gold div.titulo-gold
    {

    font-size:15px ;
    text-align: center;
    font-style: bold;
    color:#490b88;
    margin: 0px auto;
        
}

body main section.gold div.description-gold
    {

    color:#755497;
    margin: auto;
    width: 80%;
    
}

body main section.gold div.price-gold
    {

    font-size: 25px;
    color:#0a2342;
    margin: 5px auto;
    margin-top: 10px;

}

body main section.gold div.bottom-gold input

{
background-color: #490b88;
color: white;
border:#490b88;
border-radius: 15px;
margin-top: 10px;
width: 45%;
margin: 10px auto;
padding: 10px;

}

main section.gold img{
    width: 50%;
    margin: 0px auto;
}

section.gold div ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0%;
    margin: 20px 0px;
}

section.gold div ul li{
    margin: 0px auto;
    padding: 10px;
}

section.gold div ul li.back-funcion{
    width: 80%;
    background-color: #d3d1d8;
    border: 1px solid #d3d1d8;
    border-radius: 2px;

}

/* CV BLACK */

body main section.black {

    margin: 10px 0px;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aa95bf;
}

body main section.black:hover{
    border:3px solid #490b88;
}

body main section.black div.titulo-black {

    font-size:15px ;
    text-align: center;
    font-style: bold;
    color:#490b88;
    margin: 0px auto;
        
    
}

body main section.black div.description-black {
    
    color:#755497;
    margin: auto;
    width: 80%;

}

body main section.black div.price-black {

    font-size: 25px;
    color:#0a2342;
    margin: 5px auto;
    margin-top: 10px;

}

body main section.black div.bottom-black input {

    background-color: #490b88;
    color: white;
    border:#490b88;
    border-radius: 15px;
    margin-top: 10px;
    width: 45%;
    margin: 10px auto;
    padding: 10px;
}

main section.black img {

    width: 50%;
    margin: 0px auto;
}

section.black div ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0%;
    margin: 20px 0px;
}

section.black div ul li{
    margin: 0px auto;
    padding: 10px;
}

section.black div ul li.back-funcion{
    width: 80%;
    background-color: #d3d1d8;
    border: 1px solid #d3d1d8;
    border-radius: 2px;

}

/* CARRITO */




main section.carrito h3{
    text-align: center;
    margin: 15px 0px;
    color: #473383;
}

/* CV SILVER */

main section div.producto-silver{
    
    margin: 20px 10px;
    border: 2px solid #b3b3b3;
    background-color: #fff;
}

main section div.producto-silver img{
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

main section div.producto-silver h4{

    padding: 5%;
    
}

main section div.producto-silver ul li{
    font-size: 13px;
    margin: 1px 0px;
}


main section div.producto-silver div p.eliminar{
    
    color: red;
}


/* CV GOLD */

main section div.producto-gold{
    
    margin: 20px 10px;
    border: 2px solid #b3b3b3;
    background-color: #fff;
}

main section div.producto-gold img{
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

main section div.producto-gold h4{

    padding: 5%;
    
}


main section div.producto-gold ul li{
    font-size: 13px;
    margin: 1px 0px;
}


main section div.producto-gold div p.eliminar{
    
    color: red;
}

/* CV BLACK */

main section div.producto-black{
    
    margin: 20px 10px;
    border: 2px solid #b3b3b3;
    background-color: #fff;
}

main section div.producto-black img{
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

main section div.producto-black h4{

    padding: 5%;
    
}


main section div.producto-black ul li{
    font-size: 13px;
    margin: 1px 0px;
}


main section div.producto-black div p.eliminar{
    
    color: red;
}


/* LOGIN */

.login-box {
    width: 369px;
    height: 446px;
    background: white;
    color: #0a2342;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 64px 59px;
    border-radius: 35px;
    border: 2px solid #473383;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: #fff;
    padding: 5px;
    }

.login-box h1 {
    margin: 2px 0px 30px;
    text-align: center;
    font-size: 30px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block; 
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 3px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #0a2342;
    background: transparent;
    outline: none;
    height: 40px;
    color: #490b88;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #473383;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: #0a2342;
}

.login-box a:hover {
    color: #530086;
}

/* REGISTRO */

.registro {
    width: 525px;
    height: 550px;
    background-color: white; 
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 50px;
    border: 2px solid #473383;
    border-radius: 35px;
}


.registro .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: #fff;
    padding: 5px;
    }

.registro h1 {
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    color: #0a2342;
}

.registro label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block; 
}

.registro input {
    width: 90%;
    margin-bottom: 20px;
}

.registro input[type="text"],
.registro input[type="email"],
.registro input[type="password"] {
    border: none;
    border-bottom: 1px solid #0a2342;
    background: transparent;
    outline: none;
    height: 30px;
    color: #490b88;
    font-size: 16px;
    width: 100%;
}

.registro form label{
    margin: 3px 0px;
    color: #0a2342;
}

.registro div input[type="submit"] {
    border: none;
    height: 35px;
    background: #473383;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 70%;
    margin: 10px 0px 20px;
    
}

.registro div{
    text-align: center;
}

.registro a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #0a2342;
}

.registro a:hover {
    color: #530086;
}



/* FOOTER */

footer div p{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5% 0%;
    border-top: #a798ce 2px solid;
}

footer div.foto-redes{
    margin: 20px 0px;
    text-align: center;
}

/* MEDIAS QUERIES */

/* CELULAR */

@media (min-width: 361px){

    body header section.header-bar {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
    }

    header section div.logo-name{
        flex-grow: 0.2;
    }

    section.section-3 div.paso-1 p.numero-1{
        font-size: 20px;
        width: 45px;
        height: 45px;

    }

    section.section-3 div.paso-2 p.numero-2{
        font-size: 20px;
        width: 45px;
        height: 45px;
    }

    section.section-3 div.paso-3 p.numero-3{
        font-size: 23px;
        width: 45px;
        height: 45px;

    }






    main .box-padre {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        }

    main .box-padre .silver, .gold, .black {
        width: 80%;
    }

   


    
    /* CARRITO */

    main section.carrito{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* cv silver */

    main section.carrito div.producto-silver{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
        width: 90%;
        margin: 5px auto;
    }


    .descripcion-producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 55%;
    }


    .precio-producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        padding: 2% 0%;
    }

    /* cv gold */

     main section.carrito div.producto-gold{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
        width: 90%;
        margin: 5px auto;

    }


    /* cv black */

    main section.carrito div.producto-black{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
        width: 90%;
        margin: 5px auto;

    }

    /* total -finalizar compra */

    main section.carrito div.total-finalizar{
        text-align: center;
    }

    main section.carrito div.total-finalizar p{
        font-size: 19px;
        margin: 15px 0px;
    }

    main section.carrito div.total-finalizar button{
        margin: 15px 0px;
        background-color: #473383;
        border: #473383 2px solid;
        border-radius: 10px;
        padding: 10px;
        color: white;
    }

    /* SECTION 4 */

    main section.section-4 div.section-valoracion{

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px auto;  
        
    }

    main section.section-4 div.section-valoracion i.flecha{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 0.3;
        padding: 5%;
        font-size: 23px;
    }
}

@media (max-width: 672px){

    /* SECTION 4*/

    section.section-4 div.valoracion-2{
        display: none;
    }

    section.section-4 div.valoracion-3{
        display: none;
    }

}

/* TABLET */

@media (min-width: 672px){

    main section.section-1 img{
        width: 400px;
        height: 400px;
    }

    main section.section-2 img{
        width: 550px ;
        height: 380px;
        margin: 20px auto;
    }


    /* CREA TU CV */
 
    main .box-padre {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0px auto;

    }

    .box-padre section.silver {

        width: 80%;
        height: auto;
    }

    .box-padre section.gold {

        width: 80%;
        height: auto;
    
    }

    .box-padre section.black {

        width: 80%;
        height: auto;
    }



    /* CARRITO */

    /* cv silver */

    main section.carrito div.producto-silver{

        width: 70%;
        
    }
        

    /* cv gold */

    main section.carrito div.producto-gold{

         width: 70%;
    
    }
    
    
    /* cv black */
    
    main section.carrito div.producto-black{

         width: 70%;
    
    }

    .descripcion-producto{

        flex-direction: row;
        width: 45%;
    }

    .description-column{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .precio-producto{

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 10%;
        padding: 2% 0%;
    }

    /* SECTION 4*/

    section.section-4 div.valoracion-1{
        width: 30%;
    }

    section.section-4 div.valoracion-2{
        width: 30%;
    }

    
}

/* DESKTOP MAS CHICO */

@media (max-width: 990px){

    header section nav {
        display: none
    }


    header section div.burger{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #490b88;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        margin-right: 30px;
        margin-top: 3%;
        padding: 0.5%;
    }

    .burger-bars{
        width: 15px;
        color: rgb(255, 255, 255);
    }

    header section div.logo-name{
        margin: 10px;
    }

    section.section-4 div.valoracion-3{
        display: none;
    }   

}


@media (min-width: 990px){

    body header section.header-bar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
     }
 
     header section div.logo-name{
         flex-grow: 0.2;
     }
 
     header section nav {
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         align-items: center;
         flex-grow: 0.8;
     }
     
     header section nav ul{
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-between;
     }
     
     header section nav ul li.ingresar a{
        background-color: #490b88;
        color: white;
        border: 1px solid #490b88;
        border-radius: 10px;
        padding: 5px;
     }
     
     header section nav ul li.registrarse a{
        background-color: #490b88;
        color: white;
        border: 1px solid #490b88;
        border-radius: 10px;
        padding: 5px;
     }

     header section nav ul li.registrarse{
        margin-right: 3%;
     }


    header section div.burger{
        display: none;
    }

    main section.section-1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        margin: 60px auto;

    }

    main section.section-1 img{
        width: 380px ;
        height: 415px;
        margin: 0px;
    }

    main section.section-2 img{
        width: 720px ;
        height: 445px;
        margin: 20px auto;
    }

    main section.section-1 div.description-1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    main section.section-2 p{
        margin: 0% 20%;
    }

    main section.section-3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    main section.section-3 p{
        margin-top: 20px;
    }
    

    main section.section-3 div.pasos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin: 5% 0%;
        width: 90%;
    }

    main section.section-3 div.paso-1{
        position: relative;
        width: 220px;
        margin: 0% 2%;
        padding: 2%;
    }

    section.section-3 div.paso-1 p.numero-1{
        position: absolute;
        font-size: 23px;
        width: 50px;
        height: 50px;   
        left: 85px;
        bottom: 160px;
    }

    main section.section-3 div.paso-2{
        position: relative;
        width: 220px;
        margin: 0% 2%;
        padding: 2%;
    }

    section.section-3 div.paso-2 p.numero-2{
        position: absolute;
        font-size: 23px;
        width: 50px;
        height: 50px;
        left: 85px;
        bottom: 160px;
    }

    main section.section-3 div.paso-3{
        position: relative;
        width: 220px;
        margin: 0% 2%;
        padding: 2%;
    }

    section.section-3 div.paso-3 p.numero-3{
        position: absolute;
        font-size: 23px;
        width: 50px;
        height: 50px;
        left: 85px;
        bottom: 160px;
    }

    main section.section-4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    section.section-4 div.valoracion-1{
        width: 20%;
        padding: 3%;
    }

    section.section-4 div.valoracion-2{
        width: 20%;
        padding: 3%;
    }

    section.section-4 div.valoracion-3{
        width: 20%;
        padding: 3%;    
    }

    /* CARRITO */

    main section.carrito h3{
        font-size: 25px;
        margin: 25px
    }

    main section.carrito div.producto-silver{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;
        width: 70%;
        margin: 5px auto;
    }

    main section div.producto-silver img{
        width: 180px;
        height: 180px;
    }

    main section div.producto-silver h4{
        font-size: 23px;
    }

    main section div.producto-silver div.description-column ul li{
        font-size: 17px;
    }

    main section.carrito div.producto-gold{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;        
        width: 70%;
        margin: 5px auto;
    }

    main section div.producto-gold img{
        width: 180px;
        height: 180px;
    }

    main section div.producto-gold div.description-column ul li{
        font-size: 17px;
    }

    main section div.producto-gold h4{
        font-size: 23px;
    }

    main section.carrito div.producto-black{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;
        width: 70%;
        margin: 5px auto;
    }

    main section div.producto-black img{
        width: 180px;
        height: 180px;
    }

    main section div.producto-black h4{
        font-size: 23px;
    }

    main section div.producto-black div.description-column ul li{

        font-size: 17px;
    }

    main section div.producto-silver div.precio-producto p{
        font-weight: bold;
    }


    main section div.producto-gold div.precio-producto p{
        font-weight: bold;
    }


    main section div.producto-black div.precio-producto p{
        font-weight: bold;
    }


    main section.section-3 div.paso-1:hover{
        border: 2px solid #aca1cb;
        box-shadow: 0px 0px 10px #aca1cb;
    }
    
    main section.section-3 div.paso-1:hover p.numero-1{
        border: 2px solid #aca1cb;
        box-shadow: 0px 0px 10px #aca1cb;
    }

    main section.section-3 div.paso-2:hover{
        border: 2px solid #aca1cb;
        box-shadow: 0px 0px 10px #aca1cb;
    }
    
    main section.section-3 div.paso-2:hover p.numero-2{
        border: 2px solid #aca1cb;
        box-shadow: 0px 0px 10px #aca1cb;
    }
    
    main section.section-3 div.paso-3:hover{
        border: 2px solid #aca1cb;
        box-shadow: 0px 0px 10px #aca1cb;
    }
    
    main section.section-3 div.paso-3:hover p.numero-3{
        border: 2px solid #aca1cb;
        box-shadow: 0px 0px 10px #aca1cb;
    }

    /* crea tu cv */
    
    main .box-padre {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0px auto;

    }

    .box-padre section.silver {

        width: 30%;
        height: 680px;
        padding: 10px 0px;
    }

    .box-padre section.gold {

        width: 30%;
        height: 680px;
        padding: 10px 0px;

    
    }

    .box-padre section.black {

        width: 30%;
        height: 680px;
        padding: 10px 0px;

    }




}

/* DESKTOP */

@media (min-width: 1269px){

    main section.section-1 img{
        width: 440px;
        height: 500px;
    }

    main section.section-2 img{
        width: 920px;
        height: 600px;
    }


    main section.section-3 div.pasos{

        width: 80%;
    }
    
    main section.section-3 div.paso-1{
        width: 255px;
        height: 200px;
    }

    section.section-3 div.paso-1 p.numero-1{
        font-size: 27px;
        width: 55px;
        height: 55px;
        left: 100px;
        bottom: 170px;
    }

    main section.section-3 div.paso-2{
        width: 255px;
        height: 200px;
    }

    section.section-3 div.paso-2 p.numero-2{
        font-size: 27px;
        width: 55px;
        height: 55px;
        left: 100px;
        bottom: 170px;
    }

    main section.section-3 div.paso-3{
        width: 255px;
        height: 200px;
    }

    section.section-3 div.paso-3 p.numero-3{
        font-size: 27px;
        width: 55px;
        height: 55px;
        left: 100px;
        bottom: 170px;

    }

    /* crea tu cv */
    
    
    .box-padre section.silver {
    
        width: 30%;
        height: 750px;

    }
    
    .box-padre section.gold {
    
        width: 30%;
        height: 750px;
        
    }
    
    .box-padre section.black {

        width: 30%;
        height: 750px;    
    }


}

@media (min-width: 1800px){

    body header section.header-bar {
        font-size: 120%;
     }

    body header section.header-bar img{
        width: 125px;
        height: 90px;
    }

    main section.section-1 img{
        width: 640px;
        height: 700px;
    }

    main section.section-1 .description-1{
        font-size: 160%;
    }

    main section.section-2 img{
        width: 1250px;
        height: 850px;
    }

    main section.section-2 .description-2{
        font-size: 160%;
    }



    main section.section-3 h3{
        font-size: 200%;
    }

    main section.section-3 div.pasos{

        width: 100%;
    }
    
    main section.section-3 div.paso-1{
        font-size: 25px;
        width: 380px;
        height: 300px;
    }

    section.section-3 div.paso-1 p.numero-1{
        font-size: 35px;
        width: 70px;
        height: 70px;
        left: 160px;
        bottom: 270px;
    }

    main section.section-3 div.paso-2{
        font-size: 25px;
        width: 380px;
        height: 300px;
    }

    section.section-3 div.paso-2 p.numero-2{
        font-size: 35px;
        width: 70px;
        height: 70px;
        left: 160px;
        bottom: 270px;
    }

    main section.section-3 div.paso-3{
        font-size: 25px;
        width: 380px;
        height: 300px;
    }

    section.section-3 div.paso-3 p.numero-3{
        font-size: 35px;
        width: 70px;
        height: 70px;
        left: 160px;
        bottom: 270px;

    }

    main section.section-4 h3{

        font-size: 160%;

    }

}