* {
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #e0e0e2;
    font-family:'Trebuchet MS';
}

body header section.header-bar {
    background-color: #e0e0e2;
    border: solid 1px #e0e0e2;
}

body header section img{
    margin: 0px 10px;
    width: 80px;
    height: 60px;
}

header section div.logo-name{
    display: block;
    text-align: center;

}

header div.logo-name h3{
    color: #490b88;
    display: block;
    margin: 0px 5px;
}

header section nav {
    margin: 20px 0px;
}

header section nav ul{
    list-style-type: none;
    padding: 0%;
    width: 100%;
}

header section nav ul li{
    color: #0a2342;
    font-weight: bold;
    padding: 0px 10px;
}

header section nav ul li a{
    text-decoration: none;
}

/* HOME */

/* SECTION 1 */

main section.section-1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

main section.section-1 img{
    display: block;
    margin: 5% auto;
    width: 30%;
    height: 30%;
    border: 2px solid #b3b3b3;
    border-radius: 20px;
}

main section.section-1 h3{
    text-align: center;
    color: #0a2342 ;
}

main section.section-1 p{
    padding: 5% 10%;
    text-align: center;
    color: #0a2342 ;
}

main section.section-1 div.boton button{
    color: white;
    background-color: #0a2342;
    border: #0a2342 2px solid;
    border-radius: 5px;
    padding: 1%;
    margin: 5px 0px;
}

/* SECTION 2 */

main section.section-2{
    margin-top: 10%;
    margin-bottom: 10%;
}

main section.section-2 h3{
    text-align: center;
    color: #0a2342 ;
}

main section.section-2 p{
    padding: 3% 10%;
    text-align: center;
    color: #0a2342 ;
}

/* SECTION 3 */

main section.section-3{
    margin: 10% auto;
}

main section.section-3 h3{
    margin: 15px 0px 40px;
    text-align: center;
    color: #0a2342 ;
}

main section.section-3 p{
    padding: 3%;
    text-align: center;
    color: #0a2342 ;
}

main section.section-3 div.paso-1{
    background-color: rgb(246, 246, 246);
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

main section.section-3 div.paso-1 p.numero-1{
    color: white;
    font-size: 25px;
    padding: 5%;
    background-color: #0a2342;
    border: #0a2342 1px solid;
    border-radius: 50%;
    width: 50px;
    margin: 0px auto;
}

main section.section-3 div.paso-2{
    background-color: rgb(246, 246, 246);
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

main section.section-3 div.paso-2 p.numero-2{
    color: white;
    font-size: 25px;
    padding: 5%;
    background-color: #0a2342;
    border: #0a2342 1px solid;
    border-radius: 50%;
    width: 50px;
    margin: 0px auto;
}

main section.section-3 div.paso-3{
    background-color: rgb(246, 246, 246);
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

main section.section-3 div.paso-3 p.numero-3{
    color: white;
    font-size: 25px;
    padding: 5%;
    background-color: #0a2342;
    border: #0a2342 1px solid;
    border-radius: 50%;
    width: 50px;
    margin: 0px auto;
}

/* SECTION 4 */

main section.section-4{
    margin-top: 10%;
    margin-bottom: 10%;
}

main section.section-4 h3{
    text-align: center;
    color: #0a2342 ;
}

main section.section-4 h4{
    margin: 10px 0px;
    text-align: center;
    color: #0a2342 ;
}

main section.section-4 p{
    padding: 3%;
    text-align: center;
    color: #0a2342 ;
}

main section.section-4 div{
    background-color: rgb(246, 246, 246);
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

main section.section-4 div p.foto-valoracion{
    color: white;
    font-size: 25px;
    background-color: #755497;
    border: #755497 1px solid;
    border-radius: 50%;
    width: 15%;
    margin: 0px auto;
}

/* CREA TU CV */

/* CV SILVER*/

body main section.silver {
    margin: 50px 20px;
    text-align: center;
    box-sizing: border-box;
}

body main section.silver div.titulo-silver
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    font-size:30px ;
    text-align: center;
    font-style: bold;
    color:#490b88;
    margin-left: 100px;
    margin-right: 100px;

    
}

body main section.silver div.description-silver
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    color:#755497;
    margin-left: 100px;
    margin-right: 100px;


}

body main section.silver div.price-silver
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    font-size: 30px;
    color:#028090;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;

}

body main section.silver div.bottom-silver
    {
    background-color:  #e2e0e0;
    font-family:'Trebuchet MS';
    margin-top: 10px;
    width: center;
    margin-left: 100px;
    margin-right: 100px;

}

main section.silver img{
    background-color: rgb(246, 246, 246);
    border: 0px solid #b3b3b3;
    border-radius: 0px;
    width: 30%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 12px;
}

/* CV GOLD */

body main section.gold {
    margin: 50px 20px;
    text-align: center;
    box-sizing: border-box;
}

body main section.gold div.titulo-gold
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    font-size:30px ;
    text-align: center;
    font-style: bold;
    color:#490b88;
    margin-left: 100px;
    margin-right: 100px;

    
}

body main section.gold div.description-gold
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    color:#755497;
    margin-left: 100px;
    margin-right: 100px;


}

body main section.gold div.price-gold
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    font-size: 30px;
    color:#028090;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;

}

body main section.gold div.bottom-gold
    {
    background-color:  #e2e0e0;
    font-family:'Trebuchet MS';
    margin-top: 10px;
    width: center;
    margin-left: 100px;
    margin-right: 100px;

}

main section.gold img{
    background-color: rgb(246, 246, 246);
    border: 0px solid #b3b3b3;
    border-radius: 0px;
    width: 30%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 12px;
}

/* CV BLACK */

body main section.black {
    margin: 50px 20px;
    text-align: center;
    box-sizing: border-box;
}

body main section.black div.titulo-black
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    font-size:30px ;
    text-align: center;
    font-style: bold;
    color:#490b88;
    margin-left: 100px;
    margin-right: 100px;

    
}

body main section.black div.description-black
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    color:#755497;
    margin-left: 100px;
    margin-right: 100px;


}

body main section.black div.price-black
    {
    background-color:  #e0e0e2;
    font-family:'Trebuchet MS';
    font-size: 30px;
    color:#028090;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;

}

body main section.black div.bottom-black
    {
    background-color:  #e2e0e0;
    font-family:'Trebuchet MS';
    margin-top: 10px;
    width: center;
    margin-left: 100px;
    margin-right: 100px;

}

main section.black img{
    background-color: rgb(246, 246, 246);
    border: 0px solid #b3b3b3;
    border-radius: 0px;
    width: 30%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 12px;
}





/* CARRITO */




main section.carrito h3{
    text-align: center;
    margin: 15px 0px;
    color: #473383;
}

/* CV SILVER */

main section div.producto-silver{
    
    margin: 20px 10px;
    border: 2px solid #b3b3b3;
    background-color: #fff;
}

main section div.producto-silver img{
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

main section div.producto-silver h4{

    padding: 5%;
    
}

main section div.producto-silver ul li{
    font-size: 13px;
    margin: 1px 0px;
}


main section div.producto-silver div p.eliminar{
    
    color: red;
}


/* CV GOLD */

main section div.producto-gold{
    
    margin: 20px 10px;
    border: 2px solid #b3b3b3;
    background-color: #fff;
}

main section div.producto-gold img{
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

main section div.producto-gold h4{

    padding: 5%;
    
}


main section div.producto-gold ul li{
    font-size: 13px;
    margin: 1px 0px;
}


main section div.producto-gold div p.eliminar{
    
    color: red;
}

/* CV BLACK */

main section div.producto-black{
    
    margin: 20px 10px;
    border: 2px solid #b3b3b3;
    background-color: #fff;
}

main section div.producto-black img{
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
}

main section div.producto-black h4{

    padding: 5%;
    
}


main section div.producto-black ul li{
    font-size: 13px;
    margin: 1px 0px;
}


main section div.producto-black div p.eliminar{
    
    color: red;
}


/* LOGIN */

.login-box {
    width: 320px;
    height: 420px;
    background: rgb(148, 140, 140);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: #fff;
    border: 1px solid #028090;
    padding: 5px;
    }

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block; 
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #473383;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover {
    color: #fff;
}

/* REGISTRO */

.registro {
    width: 350px;
    height: 460px;
    background: rgb(148, 140, 140);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.registro .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: #fff;
    border: 1px solid #028090;
    padding: 5px;
    }

.registro h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 24px;
}

.registro label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block; 
}

.registro input {
    width: 90%;
    margin-bottom: 20px;
}

.registro input[type="text"],
.registro input[type="email"],
.registro input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
}

.registro input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    background: #473383;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registro a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}

.registro a:hover {
    color: #fff;
}



/* FOOTER */

footer div p{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5% 0%;
    background-color: #e0e0e2;
    border-top: grey 2px solid;
}

footer div.foto-redes{
    margin: 20px 0px;
    text-align: center;
}

/* MEDIAS QUERIES */

/* CELULAR */

@media (min-width: 361px){

    body header section.header-bar {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
    }

    header section div.logo-name{
        flex-grow: 0.2;
    }
    
    /* CARRITO */

    main section.carrito{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* cv silver */

    main section.carrito div.producto-silver{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
        width: 90%;
        margin: 5px auto;
    }


    .descripcion-producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 55%;
    }


    .precio-producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        padding: 2% 0%;
    }

    /* cv gold */

     main section.carrito div.producto-gold{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
        width: 90%;
        margin: 5px auto;

    }


    /* cv black */

    main section.carrito div.producto-black{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 2%;
        width: 90%;
        margin: 5px auto;

    }

    /* total -finalizar compra */

    main section.carrito div.total-finalizar{
        text-align: center;
    }

    main section.carrito div.total-finalizar p{
        font-size: 19px;
        margin: 15px 0px;
    }

    main section.carrito div.total-finalizar button{
        margin: 15px 0px;
        background-color: #473383;
        border: #473383 2px solid;
        border-radius: 10px;
        padding: 10px;
        color: white;
    }
    
}

/* TABLET */

@media (min-width: 672px){

    /* CARRITO */

    /* cv silver */

    main section.carrito div.producto-silver{

        width: 70%;
        
    }
        

    /* cv gold */

    main section.carrito div.producto-gold{

         width: 70%;
    
    }
    
    
    /* cv black */
    
    main section.carrito div.producto-black{

         width: 70%;
    
    }

    .descripcion-producto{

        flex-direction: row;
        width: 45%;
    }

    .description-column{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .precio-producto{

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 10%;
        padding: 2% 0%;
    }
    
}

/* DESKTOP MAS CHICO */

@media (max-width: 990px){

    header section nav {
        display: none
    }


    header section div.burger{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #490b88;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        margin-right: 30px;
        margin-top: 3%;
        padding: 0.5%;
    }

    .burger-bars{
        width: 15px;
        color: rgb(255, 255, 255);
    }

    header section div.logo-name{
        margin: 10px;
    }


}


@media (min-width: 990px){

    body header section.header-bar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
     }
 
     header section div.logo-name{
         flex-grow: 0.2;
     }
 
     header section nav {
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         align-items: center;
         flex-grow: 0.8;
     }
     
     header section nav ul{
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-between;
     }
     
     header section nav ul li.ingresar a{
        background-color: #490b88;
        color: white;
        border: 1px solid #490b88;
        border-radius: 10px;
        padding: 5px;
     }
     
     header section nav ul li.registrarse a{
        background-color: #490b88;
        color: white;
        border: 1px solid #490b88;
        border-radius: 10px;
        padding: 5px;
     }

     header section nav ul li.registrarse{
        margin-right: 3%;
     }


    header section div.burger{
        display: none;
    }

    main section.section-1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin: 60px auto;

    }

    main section.section-1 img{
        margin: 0px;
        width: 35%;
    }

    main section.section-1 div.description-1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    main section.section-2 p{
        margin: 0% 20%;
    }

    main section.section-3{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    main section.section-3 p{
        margin-top: 20px;
    }
    

    main section.section-3 div.pasos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin: 5% 0%;
        width: 90%;
    }

    main section.section-3 div.paso-1{
        position: relative;
        width: 220px;
        margin: 0% 2%;
        padding: 2%;
    }

    section.section-3 div.paso-1 p.numero-1{
        position: absolute;
        left: 85px;
        bottom: 160px;
    }

    main section.section-3 div.paso-2{
        position: relative;
        width: 220px;
        margin: 0% 2%;
        padding: 2%;
    }

    section.section-3 div.paso-2 p.numero-2{
        position: absolute;
        left: 85px;
        bottom: 160px;
    }

    main section.section-3 div.paso-3{
        position: relative;
        width: 220px;
        margin: 0% 2%;
        padding: 2%;
    }

    section.section-3 div.paso-3 p.numero-3{
        position: absolute;
        left: 85px;
        bottom: 160px;
    }

    main section.section-4{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    main section.section-4 div.valoracion{
        width: 20%;
        padding: 3%;
    }

    /* CARRITO */

    main section.carrito h3{
        font-size: 25px;
        margin: 25px
    }

    main section.carrito div.producto-silver{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;
        width: 70%;
        margin: 5px auto;
    }

    main section div.producto-silver img{
        width: 180px;
        height: 180px;
    }

    main section div.producto-silver h4{
        font-size: 23px;
    }

    main section div.producto-silver div.description-column ul li{
        font-size: 17px;
    }

    main section.carrito div.producto-gold{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;        
        width: 70%;
        margin: 5px auto;
    }

    main section div.producto-gold img{
        width: 180px;
        height: 180px;
    }

    main section div.producto-gold div.description-column ul li{
        font-size: 17px;
    }

    main section div.producto-gold h4{
        font-size: 23px;
    }

    main section.carrito div.producto-black{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        padding: 1%;
        width: 70%;
        margin: 5px auto;
    }

    main section div.producto-black img{
        width: 180px;
        height: 180px;
    }

    main section div.producto-black h4{
        font-size: 23px;
    }

    main section div.producto-black div.description-column ul li{

        font-size: 17px;
    }

    main section div.producto-silver div.precio-producto p{
        font-weight: bold;
    }


    main section div.producto-gold div.precio-producto p{
        font-weight: bold;
    }


    main section div.producto-black div.precio-producto p{
        font-weight: bold;
    }



}

/* DESKTOP */

@media (min-width: 1269px){

    main section.section-3 div.pasos{

        width: 80%;
    }
    
    main section.section-3 div.paso-1{
        width: 255px;
        height: 200px;
    }

    section.section-3 div.paso-1 p.numero-1{
        left: 100px;
        bottom: 170px;
    }

    main section.section-3 div.paso-2{
        width: 255px;
        height: 200px;
    }

    section.section-3 div.paso-2 p.numero-2{
        left: 100px;
        bottom: 170px;
    }

    main section.section-3 div.paso-3{
        width: 255px;
        height: 200px;
    }

    section.section-3 div.paso-3 p.numero-3{
        left: 100px;
        bottom: 170px;

    }
}