<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    
    <%- include("./partials/header.ejs") %> 

    <main>
        <section class="contacto">
            <h1>¡Contactate con nosotros!</h1>
            <form id="contactos" action="#" method="GET" class="form-contacto">
                <div class="cont-nombre">
                    <div>
                    <label for="nombre">Nombre</label>
                    </div>
                    <input type="text" name="nombre" id="nombre" required>
                </div>
                <div class="cont-apellido">
                    <div>
                    <label for="apellido">Apellido</label>
                    </div>
                    <input type="text" name="apellido" id="apellido" required>
                </div>
                <div class="cont-email">
                    <div>
                    <label for="email">Email</label>
                    </div>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="cont-telefono">
                    <div>
                    <label for="telefono">Telefono</label>
                    </div>
                    <input type="text" name="telefono" id="telefono" required>
                </div>
                <div class="cont-asunto">
                    <div>
                    <label for="asunto">Asunto</label>
                    </div>
                    <input type="text" name="asunto" id="asunto">
                </div>
                <div class="cont-comentario">
                    <div>
                    <label for="comentario">Mensaje</label>
                    </div>
                    <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Deje su mensaje aquí"></textarea>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    
    <%- include("./partials/footer.ejs") %> 

</body>
</html>