<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Azuletta</title>
</head>
<body>
    <header>
        <section class="header-bar">
            <div class="logo-name">
                <img src="/images/azuletta_logo_header.png" alt="logo">
                <h3>AZULETTA</h3>
            </div>
            <nav>
                <ul>
                    <li><a href = "/" >Home</a></li>
                    <li><a href = "/creatucv" >Crea tu CV</a></li>
                    <li><a href = "/sobrenosotros" >Sobre Nosotros</a></li>
                    <li><a href = "/contacto" >Contacto</a></li>
                    <br>
                    <li class="ingresar"><a href = "/login" >Ingresar</a></li>
                    <li class="registrarse"><a href = "/registrarse" >Registrarse</a></li>
                </ul>  
            </nav>
            <div class="burger">
                <i class="fas fa-bars burger-bars"></i>
            </div>
        </section>

    </header>
    <main>
        <div class="titulo-packfav">
            <h2>SELECCIONA TU PACK FAVORITO</h2>
        </div>
        <div class="box-padre">
         <section class="silver">

            <article>
                <img src ="/images/CVSilver.png" alt="CV Silver">
                <div class="titulo-silver">
                    <h2>CV Silver</h2>
                </div>
                <div class="description-s">
                    <div class="description-silver">
                        <p>Diseño clásico</p>
                    </div>
                    <div class="price-silver">
                        <p>$500</p>
                    </div>
                </div>

                    <div class="bottom-silver">
                
                        <input type="submit" name="add-to-cart" value="Agregar al carrito" title="Estas a un solo click de potenciar tu CV!">
                 
                </div>
                <div>
                    <ul>
                        <li>Crear curriculums ilimitados.</li>
                        <li class="back-funcion">Acesso a todas las plantillas silver</li>
                        <li>Asesoria de profesionales.</li>
                        <li  class="back-funcion">Entre 24-48 horas disponible para descargarlo desde su cuenta personal.</li>
                        <li>Cuenta Azuletta durante 3 meses para crear y editar sin limites.</li>
                    </ul>
                </div>   
            </article>

        </section>

        <section class="gold">

            <article>

            <img src ="/images/CVGold.png" alt="CV Gold">
            <div class="titulo-gold">
                <h1>CV Gold</h1>
            </div>
            <div class="description-g">
                <div class="description-gold">
                    <p>Diseño innovador</p>
                </div>
                <div class="price-gold">
                    <p>$1000</p>
                </div>
            </div>
            <div class="bottom-gold">
    
                <input type="submit" name="add-to-cart" value="Agregar al carrito" title="Estas a un solo click de potenciar tu CV!">
            
            </div>
            <div>
                <ul>
                    <li>Crear curriculums ilimitados.</li>
                    <li class="back-funcion">Acceso a todas las plantillas gold</li>
                    <li>Asesoria de profesionales.</li>
                    <li  class="back-funcion">Ofertas de trabajos coincidentes.</li>
                    <li>Entre 24-48 horas disponible para descargarlo desde su cuenta personal.</li>
                    <li class="back-funcion">Cuenta Azuletta durante 3 meses para crear y editar sin limites.</li>

                </ul>
            </div> 

            </article>

        </section>


        <section class="black">

            <article>
                <img src ="/images/CVBlack.png" alt="CV Black">

                <div class="titulo-black">
                    <h2>CV Black</h2>
                </div>
                <div class= "description-b">
                    <div class="description-black">
                    <p>Diseño de alto impacto</p>
                    </div>
                    <div class="price-black">
                    <p>$1500</p>
                    </div>
                </div>
                <div class="bottom-black">
                    <input type="submit" name="add-to-cart" value="Agregar al carrito" title="Estas a un solo click de potenciar tu CV!">
                </div>
                <div>
                    <ul>
                        <li>Crear curriculums ilimitados.</li>
                        <li class="back-funcion">Acceso a todas las plantillas.</li>
                        <li>Asesoria de profesionales.</li>
                        <li class="back-funcion">Ofertas de trabajos coincidentes.</li>
                        <li>Seguimiento de solicitudes de empleo.</li>
                        <li class="back-funcion">Incluye carta de presentación personalizada.</li>
                        <li>Entre 24-48 horas disponible para descargarlo desde su cuenta personal.</li>
                        <li class="back-funcion">Cuenta Azuletta durante 3 meses para crear y editar sin limites.</li>
                    </ul>
                </div> 

            </article>

        </section>
        </div>

    </main>

    <footer>
        <div class="section-redes">
            <p>REDES</p>
            <div class="redes-img">
                <img src="/images/tw.png" alt="">
                <img src="/images/insta.png" alt="">
                <img src="/images/linkedin.png" alt="">
                <img src="/images/facebook.png" alt="">
                <img src="/images/reddir.png" alt="">

            </div>
        </div>
    </footer>

</body>
</html>
