<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    
    <%- include("./partials/header.ejs") %> 

    <main>

    </section>

        <section class="section-1">

            <img src="/images/home1.png" alt="cv">
            <div class="description-1">
                <h3>CREA TU CURRICULUM ONLINE</h3>
                <p>¿No tienes curriculum? ¿No sabes qué poner o cómo hacerlo? No te preocupes, nosotros te ayudamos. 
                ¡Vas a conseguir el trabajo de tus sueños!</p>
                <div  class="boton">
                    <button type="submit"><a href="/product/creatucv">CREA TU CV</a></button>
                </div>
            </div>

        </section>

        <section class="section-2">
            <div class="description-2">
                <h3>POTENCIAMOS TU CV</h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                    Neque porro quisquam est, qui dolorem.</p>
            </div>
            <img src="/images/potenciar.png" alt="">
        </section>

        <section class="section-3">

            <h3>CREALO EN 3 SIMPLES PASOS</h3>
            <div class="pasos">
                <div class="paso-1">
                    <p class="numero-1">1</p>
                    <p>Selecciona tu plan favorito y disfruta de los beneficios</p>
                </div>
                <div class="paso-2">
                    <p class="numero-2">2</p>
                    <p>Completa la plantilla con tus datos y personalízala hasta obtener el currículum perfecto </p>
                </div>
                <div class="paso-3">
                    <p class="numero-3">3</p>
                    <p>Descarga, imprime y comparte tu Curriculum Vitae. ¡Consigue el trabajo ideal!</p>
                </div>
            </div>

        </section>

        <section class="section-4">
            <h3>VALORACIONES</h3>
            <div class="section-valoracion">
                <i class="fas fa-arrow-circle-left flecha"></i>
                <div class="valoracion-1">
                    <p class="foto-valoracion">X</p>
                    <h4>Diseñador Grafico</h4>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Muy práctico poder organizar todos mis CVs y solicitudes en un solo lugar con Azuletta. ¡Las plantillas son preciosas!</p>
                </div>
                <div class="valoracion-2">
                    <p class="foto-valoracion">X</p>
                    <h4>Developer Web</h4>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>¡Recibí comentarios muy positivos sobre mi CV! Encontré un buen trabajo bastante rápido. Definitivamente los recomendaré.</p>
                </div>
                <div class="valoracion-3">
                    <p class="foto-valoracion">X</p>
                    <h4>Marketing</h4>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>"Después de hacer mil ensayos para crear un buen CV en Word me di por vencido. Un amigo me recomendó esta web y no puedo estar más feliz."</p>
                </div> 
                <i class="fas fa-arrow-circle-right flecha"></i>
            </div>
        </section>

        <section class="section-5">
            <p>Prueba ahora el editor de CV online de Azuletta</p>
            <button type="submit"><a href="/product/creatucv">DA EL PRIMER PASO</a></button>
        </section>

    </section>

    </main>

    <%- include("./partials/footer.ejs") %> 

</body>
</html>