<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <main>
        <section class="not-found">
            <img src="/images/404.png" alt="404">
            <a href="/"><button>HOME</button></a>
        </section>
    </main>
</body>
</html>