<header>

    <section class="header-bar">
        <div class="logo-name">
            <img src="/images/azuletta_logo_header.png" alt="logo">
            <h3>AZULETTA</h3>
        </div>
        <nav>
            <ul>
                <li><a href = "/" >Home</a></li>
                <li><a href = "/creatucv" >Crea tu CV</a></li>
                <li><a href = "/sobrenosotros" >Sobre Nosotros</a></li>
                <li><a href = "/contacto" >Contacto</a></li>
            </ul>
            <br>
            <div class="buttons-nav">
                <button><a href = "/login" >Ingresar</a></button>
                <button><a href = "/registrarse" >Registarse</a></button>
            </div>   
        </nav>
        <div class="burger">
            <i class="fas fa-bars burger-bars"></i>
        </div>
    </section>

</header>